{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="css/style.css">
{% endblock %}
{% block body %}
	<div class="page-bg"></div>

	<div class="animation-wrapper">
		<div class="particle particle-1"></div>
		<div class="particle particle-2"></div>
		<div class="particle particle-3"></div>
		<div class="particle particle-4"></div>
	</div>

	<div class="page-wrapper">
		<h1>Welcom to Our Website</h1>
		{# <div class="homeWelcom">

			<div class="log-in">
				<input type="text" id="Email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'"></input><br/>
    			<input type="password" id="Password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'"></input><br/>
	        	<button class="btn" id="Login">Get Started</button><br/>
		        <a href="#" style="float: left;">Create Account</a>
		        <a href="#" style="float: right;">Need Help?</a>
	        </div>

        </div> #}

    </div>
{% endblock %}
